<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.1.26</string>
			<key>key</key>
			<string>Home</string>
			<key>label</key>
			<string>HomeButton</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.1.82</string>
			<key>key</key>
			<string>Switcher</string>
			<key>label</key>
			<string>Switcher</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>65281.0.16</string>
			<key>key</key>
			<string>Switcher2</string>
			<key>label</key>
			<string>Switcher</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.1.81</string>
			<key>key</key>
			<string>NotiCenter</string>
			<key>label</key>
			<string>NotiCenter</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>65281.0.2</string>
			<key>key</key>
			<string>NotiCenter2</string>
			<key>label</key>
			<string>NotiCenter</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.1.79</string>
			<key>key</key>
			<string>AppLeft</string>
			<key>label</key>
			<string>AppSwitch-Left</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.1.80</string>
			<key>key</key>
			<string>AppRight</string>
			<key>label</key>
			<string>AppSwitch-Right</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Basic - Global</string>
</dict>
</plist>
