<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.1.20</string>
			<key>key</key>
			<string>QuitApp</string>
			<key>label</key>
			<string>Quit App</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Controls</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>DESCRIPTION</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.8.43</string>
			<key>key</key>
			<string>TabControl</string>
			<key>label</key>
			<string>Next</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.12.43</string>
			<key>key</key>
			<string>TabControlPrev</string>
			<key>label</key>
			<string>Previous</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.8.41</string>
			<key>key</key>
			<string>RemoveControlFrame</string>
			<key>label</key>
			<string>Remove Frame</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.8.44</string>
			<key>key</key>
			<string>ControlClick</string>
			<key>label</key>
			<string>Click</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.0.79</string>
			<key>key</key>
			<string>Control_RIGHT</string>
			<key>label</key>
			<string>Right</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.0.80</string>
			<key>key</key>
			<string>Control_LEFT</string>
			<key>label</key>
			<string>Left</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.0.82</string>
			<key>key</key>
			<string>Control_UP</string>
			<key>label</key>
			<string>Up / Increase</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>BeeKeyboard/basic</string>
			<key>default</key>
			<string>7.0.81</string>
			<key>key</key>
			<string>Control_DOWN</string>
			<key>label</key>
			<string>Down / Decrease</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Basic - App</string>
</dict>
</plist>
