<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.1.26</string>
			<key>key</key>
			<string>Home</string>
			<key>label</key>
			<string>HomeButton</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.3.82</string>
			<key>key</key>
			<string>Switcher</string>
			<key>label</key>
			<string>Switcher</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>65281.0.16</string>
			<key>key</key>
			<string>Switcher2</string>
			<key>label</key>
			<string>Switcher</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.3.81</string>
			<key>key</key>
			<string>NotiCenter</string>
			<key>label</key>
			<string>NotiCenter</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>65281.0.2</string>
			<key>key</key>
			<string>NotiCenter2</string>
			<key>label</key>
			<string>NotiCenter</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.3.79</string>
			<key>key</key>
			<string>AppLeft</string>
			<key>label</key>
			<string>AppSwitch-Left</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string>7.3.80</string>
			<key>key</key>
			<string>AppRight</string>
			<key>label</key>
			<string>AppSwitch-Right</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>BrightUp</string>
			<key>label</key>
			<string>Brightness Up</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>BrightDown</string>
			<key>label</key>
			<string>Brightness Down</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Toggles</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>toggleWifi</string>
			<key>label</key>
			<string>Wifi</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>toggleBluetooth</string>
			<key>label</key>
			<string>Bluetooth</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>toggleMute</string>
			<key>label</key>
			<string>Mute</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>toggleRotation</string>
			<key>label</key>
			<string>Rotation</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>toggleAirplain</string>
			<key>label</key>
			<string>Airplain Mode</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
		<dict>
			<key>defaults</key>
			<string>blueteeth/basic</string>
			<key>default</key>
			<string></string>
			<key>key</key>
			<string>toggleLocation</string>
			<key>label</key>
			<string>Location</string>
			<key>cell</key>
			<string>BInputKeyCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Basic - Global</string>
</dict>
</plist>
