{
	items = (
		{
			label = Key;
			cell = PSGroupCell;
		},
		{
			defaults = "BeeKeyboard/SendMessages";
			default = "7.1.40";
			key = Send;
			label = Send;
			cell = BInputKeyCell;
		},
		{
			cell = PSButtonCell;
			label = "Remove Settings";
			action = "removeSettings:";
			table = SendMessages;
		},
	);
	title = "Send Messages";
}